name: pipeline
on: [push]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Log in to the Container registry
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push
        run: |
          REPO="leprechaun/mqtt-to-stuff"
          IMAGE="${REGISTRY}/${REPO}"

          docker build -t "${IMAGE}:latest" .
          echo docker tag "${IMAGE}:latest" "${IMAGE}:0.1.${{ github.run_number }}"
          docker tag "${IMAGE}:latest" "${IMAGE}:0.1.${{ github.run_number }}"
          docker push "${IMAGE}:0.1.${{ github.run_number }}"
